﻿@model Book_ASP_NET_MVC_CORE.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName"  />
        <input type="text" id="LastName" name="LastName" value="@Model.LastName"  />
        <input type="number" id="Age" name="Age" value="@Model.Age"  />
        <input type="number" id="Id" name="Id" value="@Model.Id"  />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ShowUsers">Back to List</a>
    </form>
</div>
