﻿
@{
    ViewData["Title"] = "MyFirstAction";
}

<h1>MyFirstAction</h1>

<p>
    First line
</p>
<p>
    Second line
</p>
<p>
    Third line
</p>
<p>
    Four line
</p>
<p>
    <a class="nav-link text-dark" href="/Home/Index">Index</a>
    <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
    <a class="nav-link text-dark" href="/Home/MyFirstAction">MyFirstAction</a>
    <a class="nav-link text-dark" href="/Home/ShowUsers">ShowUsers</a>
    <a class="nav-link text-dark" href="/Cat/Index">CatIndex</a>
    <a class="nav-link text-dark" href="https://vk.com/">VK come</a>
    <a class="nav-link text-dark" href="https://www.google.com/" target="_blank">Google site</a>
</p>