﻿@model IEnumerable<Book_ASP_NET_MVC_CORE.Models.User>

@{
    ViewData["Title"] = "ShowUsers";
}

<style>
    .some-class1
    {
        background-color:cadetblue;
    }
    .some-class2
    {
        background-color:crimson;
    }
</style>

<h1>ShowUsers</h1>
<h2 class="some-class1" style="background-color:aquamarine">Temp text1</h2>
<h2 class="some-class1 some-class-5">Temp text2</h2>
<h2 class="some-class2">Temp text3</h2>
<h2 class="some-class2">Temp text4</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @foreach (var item in Model)
    {
        var str = $"{item.Id} {item.FirstName} {item.LastName} {item.Age}";
        <p>@str</p>
    }
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    $('p').css("background-color", "#CDFDFF");
    $('h1').css("background-color", "#FFCDEA");
    $('tr').css("background-color", "#FCE6B9");
 </script>
