﻿
@{
    ViewData["Title"] = "AllCats";
}
<style>
    .item-cat {
        color: midnightblue;
        margin: 5px, 7px, 5px, 7px;
        background-color: aquamarine;
    }

    .collapse-field {
        visibility: collapse;
    }

    .hide-field {
        display: none;
    }
</style>
<h1 id="head-of-page" name="head-name" my-sdf-attr="some-value">AllCats</h1>
<p><button id="show-hide-header">Show / hide</button></p>
<p><button id="show-hide-header-2">Show / hide 2</button></p>
<p><button id="show-hide-header-3">Show / hide 3</button></p>
<button id="add-cat" onclick="showAddItems();">Add cat</button>
<input type="text" id="new-name-cat" class="collapse-field add-cat-item" placeholder="Please, enter name of cat." />
<input type="text" id="new-color-cat" class="collapse-field add-cat-item" placeholder="Please, enter color of cat." />
<input type="number" id="new-age-cat" class="collapse-field add-cat-item" placeholder="Please, enter age of cat." />
<button id="button-post" class="collapse-field add-cat-item">Click me</button>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    //$(document).ready(function () {
    //    alert("Hello\nHow are you?");
    //});
    // userService['getuser']()
    mySettings = {};
    mySettings.some = 'sdf';
    debugger;
    newNameCat = document.getElementById('new-name-cat');
    newNameCat.value = 'hello';
    // document.getElementsByClassName('item-cat')[0].innerHTML = 'some text'

    $('#show-hide-header').click(function () {
        if ($("#head-of-page").is(":visible")) {
            $('#head-of-page').hide();
        } else {
            $('#head-of-page').show();
        }
    });

    $('#show-hide-header-2').click(function () {
        $('#head-of-page').toggle();
    });
    $('#show-hide-header-3').click(function () {
        $('#head-of-page').fadeToggle(3000);
    });

    function showAddItems() {
        let items = document.getElementsByClassName('add-cat-item');
        for (var i = 0; i < items.length; i++) {
            items[i].classList.remove('collapse-field');
        }
        // $('.add-cat-item').removeClass('collapse-field');
        let addCatButton = document.getElementById('add-cat');
        addCatButton.classList.add('hide-field');
    }

    function hideAddItems() {
        let items = document.getElementsByClassName('add-cat-item');
        for (var i = 0; i < items.length; i++) {
            items[i].classList.add('collapse-field');
        }
        let addCatButton = document.getElementById('add-cat');
        addCatButton.classList.remove('hide-field');
    }

    let loadAllCats = function () {
        $.get("/cat/getallcats", function (data) {
            $(".result").html('');
            $(data).each(function (index, item) {
                let str = item.name + ' ' + item.color + ' ' + item.age;
                let btn = '<button onclick="deleteCat(' + item.id + ')">Delete</button>';
                $(".result").append('<p class="item-cat">' + str + btn + '</p>');
                //console.log(item.name);
            });
        });
    };
    function deleteCat(id) {
        $.ajax({
            url: '/cat/DeleteCat',
            type: 'DELETE',
            data: { id: id },
            success: function (result) {
                loadAllCats();
            }
        });
    };
    $(document).ready(loadAllCats);
    $('#button-post').click(function () {
        let model = {};
        model.name = $('#new-name-cat').val();
        model.color = $('#new-color-cat').val();
        model.age = $('#new-age-cat').val();

        //$.post("/cat/AddCat", { name: "Lili", color: "red", age: 17 })
        $.post("/cat/AddCat", model)
            .done(function (data) {
                //alert("Data Id: " + data.id);
                loadAllCats();
            });
        hideAddItems();
        document.getElementById('new-name-cat').value = '';
        document.getElementById('new-color-cat').value = '';
        document.getElementById('new-age-cat').value = '';
        //$('#new-name-cat').val('');
        //$('#new-color-cat').val('');
        //$('#new-age-cat').val('');

    });
</script>
<h3>My cats</h3>
<div class="result">
</div>