﻿
@{
    ViewData["Title"] = "Index";
    var time = DateTime.Now.ToString();
    var someString = time + " time string edit.";
}

@*
    sdfs
      comments
*@

<h1 class=" some-class-3">Index</h1>

<script>

    console.log("sdsdfsdf");

    //$(document).ready(function () {
    //    console.log("sfsdfsdfs");
    //});
</script>
<style>
    .my-button {
        cursor: pointer;
        border: 1px solid blueviolet;
        border-radius: 5px;
        padding: 2px 5px;
        text-align: center;
        color: ivory;
        background-color: indianred;
    }

        .my-button:hover {
            background-color: gainsboro;
            font-weight: bold;
        }

        .my-button:active {
            background-color: pink;
            font-weight: bold;
            border-width: 3px;
        }
    .button-time {
        border-radius: 3px;
        color:darkcyan;
    }
        .button-time:active {
            background-color:bisque;
            border-width: 3px;
        }

</style>


<p class="my-button" id="index-id">Index only for Cat!!!</p>
<button class="button-time" id="MyOwnTime">My Own Time</button>
<input id="MyOwnValue" value="default value" />
<div>Divivi Index only for Cat!!!</div>
<p>Index only for Cat!!!</p>
<div>Divivi Index only for Cat!!!</div>
<p>@someString</p>
<button onclick="someClickFunc();console.log('-')">Click me</button>

<div>
    <span id="MySpan">Some text</span>
</div>
<button id="MyFirstButton">My first tok mutton</button>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    let count = 0;

    let someClickFunc = function () {
        $('#MySpan').text(count);
        if (count % 2 == 0) {
            $('#MySpan').css("background-color", "#E7B3FF");
        }
        else {
            $('#MySpan').css("background-color", "#BAFF3A");
        }
        count++;
    }

    $('#MyFirstButton').click(someClickFunc);

    $(document).ready(function () {
        console.log("sfsdfsdfs444444444444");
    });
    $(document).ready(function () {
        $('main div').css("background-color", "#FFA895");
    });

    $('#index-id').click(function () {
        let text = $('#index-id').text();
        text += '!';
        $('#index-id').text(text);
    });
    function chudoUdo(str) {
        console.log('----------0_0----------' + str);
    }
    chudoUdo();

    (function (str) {
        console.log('----------0_0----------' + str);
    })('hello');

    var some = function () {
        console.log('----------0_0----------');
    };
    some();

    //$('p').css("background-color", "#D6E9EB");
    $('main div').css("background-color", "#FFA895");
    $('body').css("background-color", "#FFFED6");

    console.log("sdsdfsdf2");

</script>

<div class="some-class-for">Divivi Index only for Cat!!!</div>
<p class="some-class-for">@someString</p>
<script>
    // $('p').css("background-color", "#D6E9EB");

</script>
<p>--------</p>
<script>
    $(document).ready(function () {
        $.get("/cat/getallcats", function (data) {
            $(data).each(function (index, item) {
                $(".result").append('<p> ' + item.id + item.name + item.color + item.age + ' </p>');
            });
        });

        let updateTime = function () {
            debugger;
            var oReq = new XMLHttpRequest();

            oReq.open("GET", '/cat/CurrentTime', true);
            //oReq.responseType = "arraybuffer";
            oReq.onload = function (e) {
                //var arraybuffer = oReq.response; // not responseText
                $(".class-for-current-time").html('<p> ' + oReq.response + '</p>');
            }
            oReq.send();

            //$.get("/cat/CurrentTime", function (data) {
            //    $(".class-for-current-time").html('<p> ' + data + '</p>');
            //});
        };
        updateTime();

        let myGet = function (url, heandler) {
            var oReq = new XMLHttpRequest();

            oReq.open("GET", url, true);
            //oReq.responseType = "arraybuffer";
            oReq.onload = function (e) {
                //var arraybuffer = oReq.response; // not responseText
                heandler(oReq.response);
                
            }
            oReq.send();
        }
        debugger;
        myGet('/cat/currenttime', function (data) {
            //data - это ответ с сервака (по сути это наше время из функции Сurrenttime)
            $(".class-for-current-time").html('<p> ' + data + '</p>');
        });

        $("#ButtonTime").click(function () {
            updateTime();
        });

        var add = function (num1, num2) {
            debugger;
            // returns the value of `num1`
            console.log(num1);
            console.log(arguments[0]);

            // returns the value of `num2`
            console.log(num2);
            console.log(arguments[1]);

            for (var i = 0; i < arguments.length; i++) {
                console.log(arguments[i]);
            }
        };
        add(12, 23);
        add(12, 23, 21);


        $("#MyOwnTime").click(function () {
            const value = $('#MyOwnValue').val();
            let url = '/cat/MyOwnTime?str=' + value;

            //$.get("/cat/MyOwnTime?str=hello", function (data) {
            $.get(url, function (data) {
                $("#MyOwnTime").html('<p> ' + data + '</p>');
            });
        });
    });

</script>
<button id="ButtonTime">---TIME---</button>
<p class=" class-for-current-time">I`m here, yeah</p>
<div class="result">Hello for me.</div>
<div class="class-for-current-time"> What are you want?..</div>
<p class="class-for-current-time">This p for Ura</p>
